body {
  background: rgb(69, 69, 69);
  color:rgb(255, 255, 255);
  border-style: solid;
  border-color:rgb(140, 144, 139); /*note to self - border-color needs border-style to work. */
  margin-left: 10%;
  margin-right: 10%;
  width: 600px;
}

header{
  padding-bottom: 30px;
  padding-top: 20px;
}

h1 {
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

nav {
  text-align: center;
}

.aboutMe{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(140, 144, 139);
  margin: 0 auto;
  width: 90%;
}

a {
  color:rgb(43, 244, 165);
}

.active {
  color: rgb(255, 255, 255);
}

img {
  float:right;
  border: 2px solid rgb(180, 182, 184)
  margin: 10px;
}

footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}
